# Configuration for corelight threatgrid files upload

# where the sensor is copying extracted files to
SAMPLES_BASE = "/path/to/sample/files"

# threatgrid host/credentials
SMA_HOST = "panacea.threatgrid.com"
SMA_API_KEY = "xxxxxxxxxxxxxxxxxxxxxxxxxx"

HUMIO_BASE="https://logscale.example.com"
HUMIO_REPOSITORY="corelight"
HUMIO_TOKEN="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
HUMIO_VALIDATE_CERT=True

